*{box-sizing:border-box}

html,body,ul,img,div{
	margin:0px;
	border:0px;
	padding:0px;
}

@font-face {
	font-family: avenir;
	src: url(../fonts/Avenir.ttc)
}

.container{
  width: 100%;
  margin: 0 auto;
  padding: 0px;
  max-width: 1200px;

}
.main-head{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 5px;
}
.login-head{
  width: 100%;
  margin: 0 auto;
  height: 60px;
  color: black;
  font-family: avenir;
  font-size: 0.7em;
  overflow: hidden;
}


.loginBoxTxt{
  display: inline-block;
  float: unset;
}

.loginBoxFrm{
  display: inline-block;
}

.temp{
  float: right;
  margin-right: 10px;
  margin-top: 15px;
  margin-left: 10px;
}

.logo{
  clear: both;
  width: 100%;
  margin: auto;
  padding: 0px;
}

.logo img{
	width: 60%;
	margin-bottom: 10px;
}
.nav-bar-lg{
  display: none;
}
.nav-bar{
  margin: 0 auto;
  width: 160px;
  /*background-color: #EAF2D0;*/
}
.dropbtn {
  width: 160px;
  color: black;
  font-family: avenir;
  padding: 16px;
  font-size: 1.1em;
  border: none;
  cursor: pointer;
  background-color: white;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
	background-color: rgba(204, 203, 198, 0.89);
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
    color: black;
		font-family: avenir;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/*.dropdown-content a:hover {
  background-color: #f1f1f1
}
.dropdown:hover .dropbtn {
  background-color: #EAF2D0;
}*/
.banner{
  width: 95%;
  margin: auto;
  margin-bottom: 20px;
  overflow: hidden;
}
.main-product{
  width: 95%;
  margin: auto;
}
article.products{
  width: 95.8%;
  margin: auto;
  overflow: hidden;
}
article.products img{
  width: 100%;
  float: left;
  display: inline-block;
  margin-bottom: 5px;
}
article.products-slider{
  width: 95%;
  overflow: hidden;
  margin: auto;
  margin-bottom: 5px;
}

.login-form-div, .refon{
  width: 70%;
  margin: 0 auto;
  padding: 40px 0 30px 0;
  border: 8px solid black;
  border-radius: 5px;
  margin-bottom: 50px;
  margin-top: 50px;
  background-color: white;
  text-align: center;
  font-family: avenir;
}

.login a{
	margin: 10px 0 10px 0;
}

 .email, .login-pass, .username, .register-pass, .cpassword{
	border: 1px solid black;
	width: 60%;
	padding: 10px;
}
.remember-box {
	width: 3%;
}

.btnSubmit{
	border: 0.8px solid black;
	width:20%;
	background-color: rgba(204, 203, 198, 0.89);
	font-size: 0.8em;
	font-family: avenir;
	margin-top: 5px;
}

.imgprofile{
	border: 1px solid black;
	width: 60%;
	padding: 5px;
	background-color: rgba(254, 249, 210, 0.89);
}


.submit-loggin, .submit-register{
	border: 0.8px solid black;
	width:20%;
	background-color: rgba(204, 203, 198, 0.89);
	font-size: 0.8em;
	font-family: avenir;
}

.register-form-div{
  text-align: center;
  width: 70%;
  margin: 0 auto;
  padding: 40px 0 30px 0;
  border: 8px;
  border-style: solid;
  border-color: black;
  margin-bottom: 50px;
  border-radius: 5px;
  background-color: white;
  font-family: avenir;
}
label, input{
  margin: 5px 0 5px 0;
}

.pagination {
	display: inline-flex;
	padding: 4px;
	margin-right: 10px;
}
.pagination li {
	padding: 8px;
}

.add-product{
	text-align: center;
    width: 70%;
    margin: 0 auto;
    padding: 40px 0 30px 0;
    border: 8px;
    border-style: solid;
    border-color: black;
    margin-bottom: 50px;
    border-radius: 5px;
    background-color: white;
    font-family: avenir;
}

.add-product input{
	border: 1px solid black;
	width: 60%;
	padding: 10px;
}

.add-product .enviar{
	border: 0.8px solid black;
	width:20%;
	background-color: rgba(204, 203, 198, 0.89);
	font-size: 0.8em;
}

.add-product .cancelar{
	border: 0.8px solid black;
	width:20%;
	font-size: 0.8em;
}


/*Productos*/

.products{
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
	margin-top: 40px;
}


.products .paquete-imagen{
	display: inline-block;
	overflow: hidden;
	text-align: center;
	width: 300px;
	height: 300px;
}

.paquete-imagen li{
	font-size: 1em;
	padding: 5px;
}

.imagen{
	margin: 0 auto;
	width: 300px;
	height: 300px;
	margin-bottom: 30px;
	padding: 5px 0px 5px 0px;
}

.products .img{
	margin: 0 auto;

}


.products ul{
	font-family: avenir;
}

#paginacion{
	font-family: avenir;
	color: black;
}




/*Producto específico*/


.contenido-general{
	margin-top: 60px;
	overflow: hidden;
	font-family: avenir;
	text-align: center;
}

.datos-producto{
	margin-bottom: 20px;
}

.datos-producto h1{
	font-size: 1.2em;
	text-decoration: underline;
	line-height: 40px;
}

.imagen-producto img{
	width: 70%;
}

.contenido-general .acciones .borrar{
	border: 0.8px solid black;
	width:20%;
	font-size: 0.8em;
	background-color: none;

}

.contenido-general .acciones .editar{
	border: 0.8px solid black;
	width:20%;
	font-size: 0.9em;
	background-color: rgba(204, 203, 198, 0.89);
	padding: 0px 6px 0px 6px;
	text-align: center;
	color:black;
	text-decoration: none;
	border-radius: 5px;
}



.producto-editando{
	text-align: center;
    width: 70%;
    margin: 0 auto;
    padding: 40px 0 30px 0;
    border: 8px;
    border-style: solid;
    border-color: black;
    margin-bottom: 50px;
    border-radius: 5px;
    background-color: white;
    font-family: avenir;

}

.producto-editando input{
	border: 1px solid black;
	width: 60%;
	padding: 10px;
}

.producto-editando .actualizar{
	border: 0.8px solid black;
	width:20%;
	background-color: rgba(204, 203, 198, 0.89);
	font-size: 0.8em;
	padding: 5px;
}

.producto-editando .cancelar-modificacion{
	border: 0.8px solid black;
	width:20%;
	background-color: none;
	font-size: 0.8em;
	padding: 5px;
}


footer{
  background-color: white;
  height: 50px;
  width: 100%;
}
.social-links ul{
  overflow: hidden;
}
.social-links li{
  float: left;
}




@media only screen and (min-width:768px) {
  .container{
    /*width: 750px;*/
	width: 90%;
  }
  .banner img{
    height: 500px;
  }

  article.main-product img{
    height: 400px;
  }
  article.products img{
    width: 50%;
    padding: 5px;
  }

  .paquete-imagen{
  	float: left;
  }

  .imagen{
	  overflow: auto;
	  width: 600px;
	  height: 600px;
	  margin-left: 30px;
  }

  .imagen img{
	  text-align: center;
  }








}
@media only screen and (min-width:992px) {
  .container{
    /*width: 970px;*/
	width: 80%;
  }

  .nav-bar{
    display: none
  }
  .nav-bar-lg{
    display: block;
    overflow: hidden;
  }
  .nav-bar-lg li{
    list-style: none;
    overflow: hidden;
    display: inline-block;
  }
  .nav-bar-lg a{
    text-decoration: none;
    float: left;
  }
  .register-form, .login-form{
    text-align: center;
  }

  .paquete-imagen{
	margin:0;
	display: inline-block;
	width: 30%;
	height: auto;
  }

	.imagen{
		overflow: hidden;
		width: 100%;
		height: 100%;
	}

	.imagen img{
		width: 50%;
		height: 50%;
	}

	.datos-producto{
	  float:right;
	  font-size: 0.8em;
	  font-family: avenir;
	  margin-right: 200px;
	  text-align: right;
	}

	.imagen-producto{
	  float:left;
	  width: 60%;
	  }
	}

	.contenido-general .acciones{
	  clear:both;
	  margin-top: 50px;
	  font-family: avenir;
	  margin-bottom: 10px;
	  margin-left: 60px;
	  text-align: left;

	}




}
@media only screen and (min-width:1200px) {
  .container{
    /*width: 1170px;*/
	width: 70%;
  }

}
